<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page not found</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        {% if slogan %}
        <h3>{{ slogan }}</h3>
        {% endif %}
    </header>
    <main>
        <h3>404 - Page not found</h3>
        <p>The requested resource could not be found. Please, try again later. If the issue persists, please open an issue <a href="https://github.com/nikolan123/blog-software/issues">here</a>.</p>
    </main>
</body>
</html>
